div
{
    background-color: #363946;
    color:white;
    font-size:20;
    padding:15px;
}

header
{
    background-color: #696773;
    font-size: 26px;
    color:white;
    padding:10px;
}

li
{
    margin: 5px;
}